.outside-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto
}

.planet-container {
    display: flex;
}

.plot-container {
    padding: 1rem;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.plot-select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plot-select-button {
    margin: 0 2rem;
    width: 5rem;
    font-size: 30px;
}

[disabled] {
    opacity: .5;
    cursor: not-allowed;
}

.single-planet-data-container {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px #999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
    align-items: center;
    height: auto;
}